@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v13-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v13-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-v13-latin-900.woff2") format("woff2");
}
body {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  border: 50%;
  width: 5px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #ddd;
  outline: 1px solid transparent;
  border-radius: 50px;
}

.header .header__main-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 25px;
  max-width: 1440px;
}
.header .header__top-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header .website__logo {
  width: 180px;
  height: 30px;
}
.header .header__select {
  padding-right: 10px;
  max-width: 150px;
  padding: 11px 20px;
  appearance: none;
  color: #7000ff;
  font-weight: 600;
  background-color: #f0f0ff;
  border: 2px solid;
  border-color: transparent;
  outline-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.header .header__select:hover {
  color: #7000ff;
  background-color: #c0c0db;
}
.header .header__form {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 480px;
  position: relative;
}
.header #srchInp {
  max-width: 480px;
  border-radius: 4px;
  border: 0px;
  background: #fff;
  display: flex;
  padding: 11.25px 10px;
  outline: 1px solid rgba(54, 54, 64, 0.2);
}
.header .srchBtn {
  background-color: #f2f4f7;
  padding: 10.3px 16px;
  border: 1px solid transparent;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
}
.header .header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-size: 14px;
  max-width: 400px;
  width: 100%;
}
.header .header__user-name {
  text-transform: capitalize;
}
.header .header__list li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header__list li button {
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 8px 6px;
  gap: 9px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.header .header__list li button:hover {
  background-color: #d4d4d4;
}
.header .header__list li button p {
  font-size: 14px;
}
.header .basket__count, .header .likes__count {
  color: #fff;
  padding: 0px 3px;
  background: #7000ff;
  border-radius: 3px;
}
.header .header__bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  transition: all 0.3s ease;
}
.header .header__bottom-wrapper.open {
  width: 100%;
  align-items: start;
  height: 450px;
  transition: all 0.3s ease-out;
}
.header .header__shadow {
  box-shadow: 0px 12px 22px 9px white;
  transition: all 0.4s ease;
}
.header .header__bottom-wrapper.open .header__shadow {
  box-shadow: 0px 12px 22px 9px rgba(34, 60, 80, 0.2);
  transition: all 0.3s ease; /* Add a transition to all properties */
}
.header .header__bottom-inner {
  display: flex;
  align-items: center;
  width: 95%;
  gap: 10px;
  justify-content: space-between;
  opacity: 1;
  transform: translateX(0);
  animation: fadeInLeft 0.4s ease-in-out;
}
.header .header__bottom-inner:hover {
  transition: background-color 0.4s ease-in-out;
}
.header .header__bottom-wrapper.open .header__bottom-inner {
  flex-direction: column;
  align-items: start;
  border-right: 1px solid #595b66;
  width: 20%;
  opacity: 1;
  transform: translateX(0);
  animation: fadeInLeft 0.4s ease-in-out;
}
.header .header__bottom-wrapper:not(.open) .header__bottom-inner {
  animation: fadeOutLeft 1s ease-in-out;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.header .header__bottom-links {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  transition: all 0.3s ease;
}
.header .header__bottom-wrapper.open .header__bottom-links {
  flex-direction: column;
  align-items: start;
  width: 100%;
  transition: all 0.4s ease;
}
.header .header__bottom-box {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 40px;
  width: 98%;
  transition: all 0.4s ease;
}
.header .header__bottom-secInner {
  display: none;
  transition: all 0.3s ease;
}
.header .header__bottom-wrapper.open .header__bottom-secInner {
  display: block;
  height: 100%;
  width: 70%;
  transition: all 0.3s ease;
}
.header .header__bottom-buttons {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}
.header .header__bottom-buttons a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  color: black;
}
.header .header__bottom-buttons a:hover {
  color: #7000ff;
}
.header .header__bottom-wrapper.open .header__bottom-buttons {
  flex-direction: column;
  align-items: start;
  left: 0;
  gap: 10px;
  width: 100%;
  margin-left: 10px;
  transition: all 0.3s ease;
}
.header .header__bottom-wrapper.open .header__link-list {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.header .header__bottom-wrapper.open .header__bottom-secInner div {
  width: 100%;
  transition: all 0.3s ease;
}
.header .header__link-list li div {
  display: flex;
  gap: 10px;
  align-items: center;
}
@keyframes fadeInItems {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInItems {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header .header__bottom-wrapper .header__link-list li {
  cursor: pointer;
  align-items: start;
  transform-origin: center;
  transition: all 0.3s ease-in;
  transform: rotate(0deg);
}
.header .header__bottom-wrapper .header__link-list li:hover {
  color: #000;
}
.header .header__bottom-wrapper.open .header__link-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 10px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.header .header__bottom-wrapper.open .header__link-list li:hover {
  background: rgba(178, 158, 158, 0.23);
  color: #000;
}
.header .header__bottom-wrapper.open .header__link-list li:nth-child(1) {
  animation: fadeInItems 0.4s ease-in-out 0.1s forwards;
}
.header .header__bottom-wrapper.open .header__link-list li:nth-child(2) {
  animation: fadeInItems 0.4s ease-in-out 0.3s forwards;
}
.header .header__bottom-wrapper.open .header__link-list li:nth-child(3) {
  animation: fadeInItems 0.4s ease-in-out 0.5s forwards;
}
.header .header__link {
  color: #595b66;
  position: relative;
  transition: all 0.2s ease;
}
.header .header__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: black;
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}
.header .header__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.header .header__link:hover {
  color: black;
}
.header .header__bottom-wrapper.open .header__link {
  transition: all 5s ease-in-out;
  font-weight: 600;
}
.header .header__bottom-wrapper.open .header__link:hover {
  color: #7000ff;
  border-bottom: 0px;
}
.header .header__bottom-wrapper.open .header__link:hover::before {
  display: none;
}
.header .product__icon, .header .right__arrow {
  display: none;
}
.header .header__bottom-wrapper.open .right__arrow {
  display: block;
}
.header .header__bottom-wrapper.open .product__icon {
  display: block;
  margin-right: 10px;
  transition: all 0.3s ease;
}
.header .hover__title {
  color: black;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}
.header .hover__title:hover {
  color: #7000ff;
}
.header .left__hover {
  margin-bottom: -5px;
}
.header .hover__list {
  display: flex;
  align-items: start;
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  height: 350px;
  gap: 3px;
  margin-top: 10px;
}
.header .bottom__hover-link {
  color: #595b66;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
}
.header .bottom__hover-link:hover {
  color: #7000ff;
}
.header .header__other-button {
  width: 1%;
  display: flex;
  justify-content: end;
  margin-right: 10px;
}
.header .header__link-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.header .header__other-btn {
  border: 0px;
  background-color: transparent;
  font-size: 14px;
  color: #595b66;
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.header .arrow__down, .header .arrow__up {
  opacity: 0;
  height: 10px;
  overflow: hidden;
  display: none;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out, display 0s 0.3s;
}
.header .product__default, .header .selectX {
  opacity: 0;
  overflow: hidden;
  display: none;
  margin-bottom: -4px;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out, display 0s 0.3s;
  font-size: 18px;
}
.header .arrow__down.open, .header .arrow__up.open, .header .product__default.open, .header .selectX.open {
  opacity: 1;
  height: auto;
  display: inline-block;
  animation: fadeInRotate 0.3s ease-in-out;
}
.header .arrow__down.hidden, .header .arrow__up.hidden, .header .product__default.hidden, .header .selectX.hidden {
  opacity: 0;
  height: 0;
  animation: fadeOutRotate 0.3s ease-in-out;
  display: none;
}
.header .arrow__up {
  padding: 8px 11px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
.header .arrow__up:hover {
  background-color: #d4d4d4;
}
@keyframes fadeInRotate {
  from {
    opacity: 0;
    transform: rotate(-120deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes fadeOutRotate {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 0;
    transform: rotate(-120deg);
  }
}

@media only screen and (max-width: 1440px) {
  .header .header__top-wrapper {
    max-width: 100%;
  }
  .header #srchInp {
    width: 300px;
  }
  .header .header__select {
    width: 130px;
  }
  .header .header__bottom-buttons {
    max-width: 30%;
  }
  .header .header__bottom-buttons a {
    font-size: 12px;
  }
}
.slider {
  width: 1152px;
  height: 400px;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
}
.slider img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 15px;
}
.slider-img.active {
  opacity: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.show_more, .product .cart_icon, .product .product_price .product_price_desc, .product .product_price, .product .product_desc .product_rating, .product .product_desc, .product .like_icon, .product .product_image, .product, .clothesDiv, .technicDiv, .electronicsDiv, .discountDiv, main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

main {
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  padding: 0px 15px;
}

.main_navbar {
  width: 100%;
  font-size: 26px;
  padding-top: 20px;
}

.discountDiv {
  max-width: 100%;
  padding: 20px;
  gap: 15px;
}
.discountDiv a {
  color: inherit;
  text-decoration: none;
}

.electronicsDiv {
  width: 100%;
  padding: 20px;
  gap: 15px;
}
.electronicsDiv a {
  color: inherit;
  text-decoration: none;
}

.technicDiv {
  max-width: 100%;
  padding: 20px;
  gap: 15px;
}
.technicDiv a {
  color: inherit;
  text-decoration: none;
}

.clothesDiv {
  max-width: 100%;
  padding: 20px;
  gap: 15px;
}
.clothesDiv a {
  color: inherit;
  text-decoration: none;
}

.image {
  width: 95%;
  height: 100%;
  padding: 20px 0px;
}

.product {
  width: 220px;
  margin: 10px 0px;
  justify-content: start;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  gap: 12px;
  transition: 0.4s ease-in-out;
}
.product:hover {
  box-shadow: 0px 0px 9px -3px rgba(34, 60, 80, 0.4);
}
.product .product_description {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.product .product_image {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  height: 270px;
  background-color: rgba(255, 255, 255, 0.6156862745);
}
.product .product_image img {
  width: 85%;
  height: 75%;
  align-self: flex-end;
  transition: 0.4s ease-in-out;
}
.product .product_image img:hover {
  width: 90%;
  height: 80%;
}
.product .like_icon {
  background: transparent;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 25px;
  background-image: url("../../assets/icons/like_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}
.product .product_desc {
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  overflow: hidden;
}
.product .product_desc .product_title {
  text-overflow: ellipsis;
  white-space: normal;
  height: 30px;
  font-size: 13px;
  overflow: hidden;
}
.product .product_desc .product_rating {
  gap: 5px;
}
.product .product_desc .product_rating p {
  color: #8b8e99;
  font-size: 13px;
  font-weight: 300;
}
.product .product_desc .product_monthly_price {
  background-color: yellow;
  padding: 0px 5px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
}
.product .product_price {
  width: 100%;
  justify-content: space-between;
  padding-top: 18px;
}
.product .product_price .product_price_desc {
  align-items: start;
  flex-direction: column;
}
.product .product_price .first_price {
  font-size: 12px;
  color: #8b8e99;
  text-decoration: line-through;
}
.product .product_price .discount_price {
  font-size: 16px;
}
.product .cart_icon {
  padding: 5px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  border: solid 1px rgba(39, 39, 39, 0.678);
}
.product .cart_icon img {
  width: 24px;
  height: 24px;
}

.show_more {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
}
.show_more .show_more_button {
  width: 50%;
  height: 100%;
  border-radius: 8px;
  border: none;
  background: #f2f4f7;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #1f2026;
}
.show_more .show_more_button:hover {
  background: rgba(208, 209, 210, 0.6);
}

@media (max-width: 517px) {
  .product {
    width: 40%;
  }
  .product .product_image {
    height: 200px;
  }
}
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
.footer {
  width: 100%;
  display: flex;
  padding: 10px 28px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer .footer__top {
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}
.footer .footer__top-conatiners {
  width: 25%;
  height: 100%;
}
.footer .footer__top-conatiners-item1 {
  color: #020202;
  font-weight: 500;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 16px;
  margin-top: 0;
}
.footer .footer__top-conatiners-item2 {
  width: 100%;
  color: var(--text-link-neutral-rest);
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}
.footer .footer__top-conatiners-item2-img {
  width: 50%;
  padding-right: 25px;
  height: 28px;
}
.footer .footer__top-conatiners-item2 {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer__top-conatiners-item3 {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.footer .footer__top-conatiners-item3-img {
  width: 40px;
  height: 40px;
  padding: 5px;
}
.footer .footer__top-conatiners-item4 {
  padding-top: 35px;
  padding-bottom: 20px;
}
.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.footer__bottom-left {
  width: 50%;
  display: flex;
  padding-top: 30px;
}
.footer__bottom-left-text {
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-right: 16px;
  white-space: nowrap;
  text-decoration: none;
}
.footer__bottom-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  opacity: 0.6;
}

.login__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../../img/unnamed.webp);
  background-size: 100%;
  background-repeat: no-repeat;
}
.login__wrapper .login__cont {
  display: flex;
  flex-direction: column;
  padding: 35px;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.login__wrapper .login__cont h2 {
  font-size: 24px;
  text-align: center;
}
.login__wrapper .login__cont form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.login__wrapper .login__cont input {
  width: 350px;
  height: 44px;
  border-radius: 12px;
  background-color: #e6e8ed;
  border: none;
  padding-left: 16px;
}
.login__wrapper .login__cont .password {
  width: 350px;
  position: relative;
}
.login__wrapper .login__cont .password-btn {
  border: none;
  background: none;
  position: absolute;
  top: 14px;
  right: 10px;
}
.login__wrapper .login__cont .login__error-text {
  color: red;
}
.login__wrapper .login__cont .signUp-btn {
  width: 350px;
  height: 44px;
  background-color: #7000ff;
  color: #f0f0ff;
  border-radius: 12px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.login__wrapper .login__cont .signUp-btn:hover {
  background-color: #73f;
}
.login__wrapper .login__cont .login__box {
  display: flex;
  gap: 7px;
}
.login__wrapper .login__cont .login__box .login-title {
  font-size: 14px;
}
.login__wrapper .login__cont .login__box .login-btn {
  background: none;
  border: none;
  color: #37f;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  display: flex;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 35px;
  border: 1px solid #888;
  width: 55%;
  border-radius: 15px;
  position: relative;
}
.modal-content-left {
  width: 40%;
  height: 100%;
}
.modal-content-left .modal-img {
  width: 90%;
}
.modal-content-left .information-btn {
  width: 90%;
  padding: 10px;
  background: none;
  border: 1px solid gray;
  border-radius: 5px;
}
.modal-content-right {
  width: 60%;
  height: 100%;
}
.modal-content-right .modal-title {
  color: #1f2026;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
}
.modal-content-right hr {
  margin-top: 40px;
}
.modal-content-right h4 {
  font-weight: 600;
  font-size: 14px;
  color: #1f2026;
  line-height: 24px;
}
.modal-content-right .modal-color-img {
  width: 8%;
}
.modal-content-right .modal-amt {
  display: flex;
  width: 114px;
  border: 1px solid gray;
  border-radius: 3px;
}
.modal-content-right .modal-amt-minus {
  width: 38px;
  height: 38px;
  background: none;
  border: none;
}
.modal-content-right .modal-amt-product {
  width: 38px;
  height: 38px;
  text-align: center;
  border: none;
}
.modal-content-right .modal-amt-plus {
  width: 38px;
  height: 38px;
  background: none;
  border: none;
}
.modal-content-right .basket-btn {
  width: 100%;
}
.modal-content .close {
  position: absolute;
  border: none;
  padding: 8px;
  border-radius: 50%;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
