
.footer{
 padding: 15px;

    &__top{
       width: 100%;
       height: 200px;
       display: flex;
        &-conatiners{
           width: 25%;
           height: 100%;
             &-item1{
               color: #020202;
               font-weight: 500;
               font-size: 16px;
               font-weight: 500;
               line-height: 19px;
               margin-bottom: 16px;
               margin-top: 0;
             }
             &-item2{
               width: 100%;
               color: var(--text-link-neutral-rest);
               display: block;
               font-size: 14px;
               font-weight: 400;
               line-height: 16px;
               text-decoration: none;
                    &-img{
                       width: 50%;
                       padding-right: 25px;
                       height: 28px;
                   
                    }
             }
             &-item2{
               display: flex;
             }
             &-item3{
               width: 70%;
               display: flex;
                  &-img{
                   width: 40px;
                   height: 40px;
                   padding: 5px;
                  }
             }
             &-item4{
               padding-top: 35px;
               padding-bottom: 20px;
             }
       }
    }

    &__bottom{
     display: flex;
       width: 100%;
          &-left{
           width: 50%;
           display: flex;
           padding-top: 30px;
                 &-text{
                   color: var(--text-primary);
                   font-size: 14px;
                   font-weight: 500;
                   line-height: 18px;
                   margin-right: 16px;
                   white-space: nowrap;
                   text-decoration: none;
                 }
          }
          &-right{
           width: 50%;
           display: flex;
           justify-content:flex-end;
           padding-top: 30px;
           opacity: 0.6;
          }
    }
}