@import "../veriables.scss";
.header {
  .header__main-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
  }

  .website__logo {
    width: 200px;
    height: 30px;
  }

  #header__select {
    padding-right: 10px;
    width: 150px;
    padding: 11px 20px;
    appearance: none;
    color: $header-select-color;
    font-weight: 600;
    background-color: #f0f0ff;
    border: 2px solid;
    border-color: transparent;
    outline-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
      color: $header-select-color;
      background-color: $header-select-hover;
    }
  }

  .header__form {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 480px;
    position: relative;
  }

  #srchInp {
    width: 480px;
    border-radius: 4px;
    border: 0px;
    background: #fff;
    display: flex;
    padding: 11.25px 10px;
    outline: 1px solid $header-search;
  }

  .srchBtn {
    background-color: $header-srch-button;
    padding: 10.3px 20px;
    border: 1px solid transparent;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    border-radius: 0px 4px 4px 0px;
  }

  .header__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
    font-size: 14px;
  }

  .header__list li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__list li button {
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 9px 7px;
    gap: 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $header-btn-hover;
    }
  }
  .header__list li button p {
    font-size: 14px;
  }

  .basket__count {
    color: #fff;
    padding: 0px 3px;
    background: $header-select-color;
    border-radius: 3px;
  }
}
