%display{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
%productDiv{
    max-width: 100%;
    @extend %display;
    padding: 20px;
    gap: 15px;
    a{
        color: inherit;
        text-decoration: none;
    }
}
@font-face {
    font-family: 'Inter';
    src:   url('../inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
main{
    width: 100%;
    @extend %display;
    cursor: pointer;
    text-decoration: none;
    padding: 0px 15px;
}
.main_navbar{
    width: 100%;
    font-size: 26px;
    padding-top: 20px;
    // height: 40px;
}
.discountDiv{
  @extend %productDiv;
}
#resultContainer{
  @extend %productDiv;
}
.electronicsDiv{
    @extend %productDiv;
}
.singlePage__main-box{
   @extend %productDiv;
   display: flex;
    // display: none;
}

.hover__list{
    flex-direction: row;
}
.technicDiv{
    @extend %productDiv;
}
.clothesDiv{
    @extend %productDiv;
}
.likesDiv{
    @extend %productDiv;
}
.image{
    width: 95%;
    height: 100%;
    padding: 20px 0px;
}
.product{
    width: 220px;
    margin: 10px 0px;
    @extend %display;
    // border: solid 1px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    gap: 12px;
    transition: 0.4s ease-in-out; 
    &:hover{
        box-shadow: 0px 0px 9px -3px rgba(34, 60, 80, 0.4);
    }
    .product_description{
        width: 100%;
    padding: 10px;
    overflow: hidden;

    }
    .product_image{
        width: 100%;
       @extend %display;
        border-radius: 10px;
        padding: 20px;
        height: 270px;
        background-color: #ffffff9d;
        img{
            width: 85%;
            height: 75%;
            align-self: flex-end;
           transition: 0.4s ease-in-out;
            &:hover{
                width: 90%;
               height: 80%;
            }
        }
    }
    .like_icon{
        background: transparent;
        position: absolute;
        top: 5px;
        right: 5px;
        @extend %display;
        width: 20px;
        height: 25px;
        background-image: url('../../assets/icons/like_icon.svg');
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        border: none;
    }
 .product_desc{
        width: 100%;
        // @extend %display;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        // display: none;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    overflow: hidden;
    .product_title{
        text-overflow: ellipsis;
        white-space: normal;
       height: 30px;
       font-size: 13px;
       overflow: hidden;
    }
        .product_rating{
            @extend %display;
            gap: 5px;
            p{
                //  opacity: 0.8;
                color: #8b8e99;
                font-size: 13px;
                font-weight: 300;
            }
        }
        .product_monthly_price{
            background-color: yellow;
            padding: 0px 5px;
            border-radius: 5px;
            font-size: 13px;
            font-weight: 500;
        }
        
    }
    .product_price{
        width: 100%;
        // @extend %display;
        display: flex;
        justify-content: flex-start;
        padding-top: 18px;
        .product_price_desc{
            @extend %display;
            align-items: start;
            flex-direction: column;
        }
        .first_price{
            font-size: 12px;
            color: #8b8e99;
            text-decoration: line-through;
        }
        .discount_price{
            font-size: 16px;
        }
    }
    .cart_icon{
        @extend %display;
        padding: 5px;
        position: absolute;
        bottom: 5px;
        right: 5px;
        cursor: pointer;
        border-radius: 50%;
        background: transparent;
        border: solid 1px rgba(39, 39, 39, 0.678);
        img{
            width: 24px;
            height: 24px;
        }
    }
}
.show_more{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    @extend %display;
    .show_more_button{
        width: 50%;
        height: 100%;
    border-radius: 8px;
    border: none;
    background: #f2f4f7;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #1f2026;
    &:hover{
    background: rgba(208, 209, 210, 0.6);
    }
    }
}

@media (max-width: 517px) {
.product{
    width: 40%;
    .product_image{
        height: 200px;
    }
}
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 5px) and (max-width: 767px) {

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 

}


